@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");

/****************************************************
 * Stylesheet
 * 1.general
 * 2.layout
 * 3.template
 * 4.content
 * 5.Smartphone
 * ※The breakpoint is 768 pixel, so please change it according to the site
 ****************************************************/


/****************************************************

/****************************************************
 * 1.GENERAL
 ****************************************************/

html {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6rem;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", "YuGothic", sans-serif;
	margin: 0;
	padding: 0;
	color: #313131;
	background-color: #000728;
}
a{
	transition: all 0.3s;
}
a:hover {
	opacity: 0.7;
	cursor: pointer;
}
.is_pc {
	display: block;
}
.is_sp {
	display: none;
}
.fw_bold {
	font-weight: bold;
}

#main {
	min-width: 1100px;
}

.inner {
	max-width: 1280px;
	margin: 0 auto;
}

.inner_in {
	max-width: 980px;
    margin: 0 auto;
}

.header {
	background-color: #000;
    font-size: 12px;
    text-align: center;
	padding: 10px 0;
	min-width: 1100px;
}

/*section 01*/

.section01 {
	position: relative;
	width: 100%;
	height: 550px;
	background-image: url(../img/bg_sec01_01.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.section01 h1 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	text-align: center;
}

/*section 02*/
.section02 {
	position: relative;
	background-image: url(../img/bg_sec02_01.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100%;
	color: #ffffff;
	position: relative;
	padding-bottom: 70px;
}

.section02_cnt {
	position: absolute;
	left: 0;
	right: 0;
	top: -160px;
}

.section02_cnt h1 {
	text-align: center;
}

.section02 h3  {
	font-size: 4rem;
	text-align: center;
	line-height: 32px;
	letter-spacing: 0.18em;
	margin: 40px 0 16px;
}

.section02 h4 {
	text-align: center;
	font-size: 1.8rem;
	line-height: 32px;
	font-weight: bold;
	margin-bottom: 30px;
	letter-spacing: 0.2em;
}

.section02 .desc {
	margin: 28px auto 0;
    max-width: 700px;
    padding-left: 40px;
}

.btn_wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.section02 .decs_txt {
	font-size: 1.8rem;
	line-height: 2;
	letter-spacing: 0.10em;
	text-align: left;
}

.section02 .decs_txt span {
	font-size: 1.3rem;
	line-height: 2.67;
}

.section02_row {
	padding-top: 300px;  
}

.border {
	border-top: 4px solid #000D22;
	margin-top: 14px;
}

.section02 .btn_wrapper a {
	display: block;
    float: right;
    width: 100%;
    max-width: 262px;
    max-height: 42px;
    margin-top: 8px;
    margin-right: 45px;
    padding: 12px 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.section02 .btn_wrapper a::before{
	content: "";
    background-image: url(../img/arrow_icon.png);
    background-size: cover;
    height: 18px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
}

.section02 .btn_wrapper a span {
	vertical-align: middle;
	margin: 0 0 2px 12px;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
}

.section02 .row {
	display: flex;
	justify-content: space-between;
	padding: 70px 0 0 0;
	align-items: center;
}


.section02_row_txt {
	max-width: 518px;
}

.section02 .row  h5 {
	font-size: 2.4rem;
	line-height: 1.75;
	margin-bottom: 30px;
	letter-spacing: 0.12em;
}

.section02 .row  p {
	font-size: 1.8rem;
	line-height: 2;
	letter-spacing: -1px;
}

/*section 03*/

.section03 {
	padding: 90px 0 100px;
}

.section03 p {
	font-size: 2.4rem;
	line-height: 42px;
	margin-bottom: 45px;
	text-align: left;
	color: #ffffff;
}
.section03 .img_wrapper {
	text-align: center;
}

/*section 04*/
.section04 {
	background-image: url(../img/bg_sec04_01.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	width: 100%;
	height: 550px;
}


/*section 05*/
.section05 {
	padding: 45px 0 90px;
	color: #ffffff
}

.section05 h5,
.section07 h5 {
	font-size: 1.6rem;
	line-height: 26px;
	letter-spacing: 0.5em;
}

.section05 h4,
.section07 h4 {
	font-size: 2.6rem;
	line-height: 44px;
	margin-bottom: 30px;
	letter-spacing: 0.12em;
}

.section05 p, 
.section07 p {
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.1em;
}

.section05 p {
	margin-bottom: 45px;
}

.section05 .list_items {
	display: flex;
	justify-content: space-between;
}

.section05 .list_items .item {
	width: 33%;
}

.section05 .list_items .item img {
	width: 100%
}

.section05 .list_items p {
	width: 250px;
    margin: 21px auto;
	font-size: 1.6rem;
    line-height: 1.625;
	letter-spacing: 0.12em;
	text-align: left;
}

.section05 ul {
	margin-top: 30px;
	text-align: center;
}

.section05 ul li p {
	font-size: 1.6rem;
	line-height: 26px;
    letter-spacing: 0.12em;
}

.section05 ul li hr {
	content: '';
	display: block;
	width: 20px;
	height: 1px;
	background-color: #ffffff;
	margin: 20px auto 25px;
}

/*section 06*/
.section06 {
	background-image: url(../img/bg_sec06_01.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	width: 100%;
	height: 550px;
}

/*section 07*/
.section07 {
	padding: 45px 0;
	color: #ffffff;
}

/*section 08*/

.section08 {
	color: #ffffff;
}

.section08 ul {
	background-color: #000000;
	padding: 0 60px;

}

.section08 ul li {
	background-image: url(../img/pic01_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 550px;
	background-color: #000000;
	position: relative;
}

.section08 .item01  { 
	padding-top: 210px;
}

.section08 .item02  { 
	background-image: url(../img/pic02_bg.jpg);
	padding-top: 220px;
}

.section08 .item03  { 
	background-image: url(../img/pic03_bg.jpg);
	padding-top: 200px;
}

.section08 .item04  { 
	background-image: url(../img/pic04_bg.jpg);
	padding-top: 150px;
}

.section08 .item01 .wapper_sub,
.section08 .item03 .wapper_sub {
	width: 50%;
    max-width: 640px;
    float: right;
	text-align: left;
	padding-left: 20px;
}

.section08 .item02 .wapper_sub,
.section08 .item04 .wapper_sub {
	float: left;
	width: 50%;
    max-width: 640px;
    text-align: left;
}

.section08 .item01 .desc,
.section08 .item02 .desc,
.section08 .item03 .desc,
.section08 .item04 .desc {
	font-size: 1.8rem;
    line-height: 2;
    letter-spacing: 0.12em;
    margin-top: 20px;
}

.item02 .wapper_sub {
	padding-left: 90px;
}

.item04 .wapper_sub {
	padding-left: 70px;
}

.item04 .img_wrap {
	width: 60px;
	margin: 0 auto;
}

.item01::after,
.item02::after,
.item03::after {
	content: "";
	position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
	width: 100%;
	background-color: #323232;
    max-width: 980px;
    display: block;
    margin: 0 auto;
}


/*section 09*/
.section09 {
	color: #ffffff;
}

.section09 ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 60px 0 110px;
}

.section09 ul li {
	width: 25%;
	text-align: center;
}

.section09 ul li img {
	height: 240px;
}

.section09 ul li hr {
	display: block;
	width: 20px;
	height: 1px;
	margin: 16px auto 20px;
	background-color: #ffffff;
	content: '';
}

.section09 ul li p {
	font-size: 1.6rem;
	line-height: 26px;
}

.section09 ul li p span {
    font-size: 1.3rem;
    line-height: 2;
}

/*section 10*/
.section10 {

}

.section10 .sec10_header {
	background-image: url(../img/bg_sec10_01.png); 
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 140px 0 90px;
}

.section10 .sec10_header img {
	width: 640px;
	height: 263px;
}

.section10 .sec10_header a img {
	width: 157px;
	height: 20px;
	margin-top: 35px;
}

.section10 .sec10_cnt {
	padding: 90px 0 60px;
	color: #ffffff;
}

.section10 .list_items {
	padding: 0 14px 0 60px;
}

.section10 .sec10_cnt h4 {
	font-size: 3.8rem;
	line-height: 32px;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 0.18rem;
}

.section10 .sec10_cnt h5 {
	font-size: 1.6rem;
	line-height: 32px;
	text-align: center;
	margin-bottom: 35px;
}

.section10 .sec10_cnt .desc {
	font-size: 1.8rem;
    line-height: 36px;
    padding-left: 55px;
	max-width: 725px;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 0.12em;
}

.section10 .sec10_cnt .desc .spec {
	font-size: 1.3rem;
    line-height: 2.769;
    letter-spacing: 0.12em;
} 

.section10 .list_items .first_line {
	font-size: 1.6rem;
	line-height: 32px;
	margin-top: 65px;
	margin-bottom: 28px;
	letter-spacing: 0.2rem;
	padding-left: 50px;
}

.section10 .list_items .item {
	display: flex;
}

.section10 .list_items .item div {
	padding-bottom: 80px;
}

.section10 .list_items .item:last-child div {
	padding-bottom: 0px;
}

.section10 .list_items .item .left {
	width: 49%;
	min-width: 49%;
	border-right: 1px solid #fff;
	margin-right: 70px;
}

.section10 .list_items .item p {
	font-size: 2.1rem;
	line-height: 1.5;
	letter-spacing: 0.12em;
}

.section10 .list_items .item .left p {
	padding-left: 50px;
}

.section10 .list_items .item p .bold {
	font-family: 'ヒラギノ角ゴ Pro W6';
	font-weight: bold;
}

/*footer*/
.footer {
	background-color: #000000;
	min-width: 980px;
    padding: 70px 0 52px;
	text-align: center;
	min-width: 110px;
}

.footer .footer-logo {
	width: 180px;
	height: 75px;
}

.footer .footer_info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 52px 0 0;
}

.footer .footer_info ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 1.5;
}

.footer .footer_info ul li a {
	color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
}

.footer .footer_info ul li:not(:last-child) a  {
	border-right: 1px solid #8f8f8f;
} 

.footer_copyright {
	font-size: 1.2rem;
	color: #ffffff;
}

/****************************************************
 * GENERAL SETTING ON SP *
 ****************************************************/
@media only screen and (max-width: 640px) { 
	#main {
		min-width: auto;
	}
	.header {
		min-width: auto;
	}
	.footer {
		min-width: auto;
	}
	.inner {
		max-width: 100%;
		margin: 0 auto;
	}
	.inner_in {
		max-width: 100%;
		margin: 0 auto;
	}
	.is_pc {
		display: none;
	}
	.is_sp {
		display: block;
	}
	.section01 {
		display: none;
	}
	.section02 {
		padding-bottom: 0;
	}
	.section02 .row {
		flex-direction: column;
		padding: 5.2vw 10vw;
		align-items: center;
	}
	.section02_column {
		display: flex;
		flex-direction: column-reverse;
	}
	.section02 h1 img {
		width: 31.25vw;
	}
	.section02 h3 {
		font-size: 6.13vw;
		line-height: 1.5;
		letter-spacing: 0.1em;
		margin: 6vw 2vw 4px;
	}
	.section02 h4 {
		font-size: 3vw;
		margin-bottom: 3.9vw;
	}
	.section02_cnt {
		top: 0;
		padding: 0 10vw;
		background-image: url(../img/bg_sec01_01_sp.jpg);
		background-size: cover;
		width: 100%;
		height: 236vw;
	}
	.section02_row {
		padding-top: 236vw;
	}
	.section02 .desc {
		padding-left: 5vw;
		margin-top: 4.375vw;
	}
	.section02 .decs_txt{
		font-size: 3vw;
		line-height: 2;
		letter-spacing: 0.15em;
	}
	.section02 .decs_txt span{
		font-size: 2.4vw;
		line-height: 2.3;
		letter-spacing: 0.12em;
	}
	.section02 .btn_wrapper a {
		margin-right: -3.2vw;
		margin-top: 2.3vw;
		max-width: 40vw;
		padding: 1.6vw 0;
	}
	.section02 .btn_wrapper a span {
		font-size: 2.8vw;
    	margin: 0 0 2px 1.6vw;
	}
	.section02 .btn_wrapper a::before {
		width: 1.9vw;
    	height: 2.4vw;
	}
	.border {
		display: none;
	}
	.section02 .section02_row .row{
		flex-direction: column;
		background-image: url(../img/bg_sec02_02.jpg);
		background-size: cover;
		background-position: bottom right;
		padding: 11.7vw 10vw 19vw;
	}
	.section02 .row h5 {
		font-size: 4.26vw;
		margin: 8.26vw 0 2.6vw;
		line-height: 1.8;
	}
	.section02 .row p {
		font-size: 3.2vw;
		line-height: 1.8;
		text-align: justify;
	}
	.section03 {
		padding: 9vw 10vw 5vw;
	}
	.section03 p {
		font-size: 4.266vw;
		margin-bottom: 5.5vw;
		line-height: 1.82;
	}
	.section04 {
		width: 100%;
		height: 45.57vw;
	}
	.section05 {
		padding: 10vw 0 19vw;
	}
	.section05 .inner_in {
		padding: 0 10vw;
	}
	.section05 h5, .section07 h5 {
		font-size: 3.2vw;
		line-height: 2;
		letter-spacing: 0.12em;
	}
	.section05 h4, .section07 h4 {
		font-size: 4.266vw;
		line-height: 1.8;
		letter-spacing: 0.18em;
		padding: 1.06vw 0 5.6vw;
		margin-bottom: 0;
	}
	.section05 p, .section07 p {
		font-size: 3.2vw;
		line-height: 2;
		text-align: justify;
		letter-spacing: 0;
		margin-bottom: 10vw;
	}
	.section05 .list_items p {
		font-size: 3.2vw;
		line-height: 1.8;
		margin: 2.133vw auto 7.333vw;
		width: 100%;
	}
	.section05 .list_items {
		flex-direction: column;
		margin-top: 8.133vw;
    	padding: 0 10vw;
	}
	.section05 .list_items .item {
		width: 100%;
	}
	.section05 ul {
		margin-top: 0;
	}
	.section05 ul li hr {
		margin: 1.3vw auto;
	}
	.section05 ul li p {
		font-size: 3.2vw;
		line-height: 1.8;
		margin-bottom: 2vw;
		text-align: center;
	}
	.section06 {
		width: 100%;
		height: 45.47vw;
	}
	.section07 .inner_in {
		padding: 0 10vw;
	}
	.section07 p {
		margin-bottom: 0;
	}
	.section08 ul {
		padding: 0;
	}
	.section09 ul {
		flex-direction: column;
	}
	.section09 ul li {
		max-width: 100%;
		width: 100%;
	}
	.section08 ul li,
	.section08 .item02,
	.section08 .item03,
	.section08 .item04 {
		background-image: none;

	}
	.item01::after,
	.item02::after,
	.item03::after {
		display: none;
	}
	.section08 .item01,
	.section08 .item02,
	.section08 .item03,
	.section08 .item04 {
		padding-top: 0;
		height: auto;
	}
	.section08 .item01 .wapper_sub,
	.section08 .item03 .wapper_sub {
		width: 100%;
		max-width: 100%;
		float: none;
		text-align: center;
		padding: 5vw 10vw 10vw;
	}
	.section08 .item02 .wapper_sub,
	.section08 .item04 .wapper_sub {
		float: none;
		width: 100%;
		max-width: 100%;
		text-align: center;
		padding: 5vw 10vw 10vw;
	}
	.item02 .wapper_sub {
		padding-left: 0;
	}
	.item04 .wapper_sub {
		padding-left: 0;
	}
	.wapper_sub .logo {
		max-width: 25vw;
		max-width: 25vw;
	}
	.item04 .wapper_sub .logo {
		max-width: 7vw;
		margin: 0 auto;
	}
	.section08 .item01 .desc, 
	.section08 .item02 .desc, 
	.section08 .item03 .desc, 
	.section08 .item04 .desc {
		font-size: 3.2vw;
		line-height: 2;
		text-align: left;
		margin-top: 3vw;
		margin-bottom: 4.6vw;
	}
	.product .img_wrap {
		width: 40vw;
		max-width: 40vw;
		margin: 0 auto;
	}
	.product hr {
		width: 2.66vw;
    	margin: 2.6vw auto 0;
	}
	.product .info {
		font-size: 3.2vw;
		line-height: 2;
		letter-spacing: 0.12em;
		margin-top: 6vw;
	}
	.section10 .sec10_header {
		background-image: url(../img/bg_sec10_01.jpg);
		padding: 10vw 0 8vw;
	}
	.section10 .sec10_header img {
		width: 65vw;
		height: auto;
	}
	.section10 .sec10_cnt h5 {
		font-size: 3.2vw;
		line-height: 1.8;
		margin-bottom: 1.5vw;
	}
	.section10 .sec10_cnt {
		padding: 10vw 10vw;
	}
	.section10 .sec10_cnt .desc {
		padding-left: 5vw;
		font-size: 3.2vw;
	}
	.section10 .sec10_cnt h4 {
		font-size: 5.066vw;
		line-height: 1.4;
		letter-spacing: 0.24em;
		margin-bottom: 3.125vw;
	}
	.section10 .list_items {
		padding: 0 0  0 5vw;
	}
	.section10 .sec10_cnt p {
		padding-left: 0;
		font-size: 3.2vw;
		line-height: 1.8;
	}
	.section10 .list_items .item {
		flex-direction: column;

	}
	.section10 .list_items .item div {
    	padding-bottom: 5.5vw;
	}
	.section10 .list_items .item p {
		font-size: 3vw;
    	line-height: 2;
	}
	.section10 .list_items .item .left p {
		padding-left: 0;
	}
	.section10 .list_items .item .left {
		width: 100%;
		border-right: none;
		margin-right: 0;
		font-size: 3.2vw;
		line-height: 1.8;
	}
	.section10 .list_items .item span {
		font-size: 2.8vw;
	}
	.section10 .list_items .first_line {
		margin: 3.25vw 0;
		text-align: center;
		padding: 0;
		font-size: 3.8vw;
	}
	.footer {
		padding: 9vw 0 5vw;
	}
	.footer .footer_info {
		flex-direction: column;
		padding:  6vw 00;
	}
	.footer .footer_info ul {
		flex-direction: column;
	}
	.footer_copyright {
		font-size: 2.4vw;
		padding-top: 4vw;
	}
}
