@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");

/****************************************************
 * Stylesheet
 * 1.general
 * 2.layout
 * 3.template
 * 4.content
 * 5.Smartphone
 * ※The breakpoint is 768 pixel, so please change it according to the site
 ****************************************************/


/****************************************************

/****************************************************
 * 1.GENERAL
 ****************************************************/

html {
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6rem;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", "YuGothic", sans-serif;
	margin: 0;
	padding: 0;
	color: #313131;
	background-color: #000728;
}
a{
	transition: all 0.3s;
}
a:hover {
	opacity: 0.7;
	cursor: pointer;
}
.is_pc {
	display: block;
}
.is_sp {
	display: none;
}
.fw_bold {
	font-weight: bold;
}

.inner {
	max-width: 1100px;
	margin: 0 auto;
	width: 96%;
}

/*section 01*/

.section01 {
	position: relative;
	width: 100%;
	height: 550px;
	background-image: url(../img/bg_sec01_01.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.section01 h1 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	text-align: center;
}

/*section 02*/
.section02 {
	position: relative;
	background-image: url(../img/bg_sec02_01.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100%;
	height: 820px;
	color: #ffffff;
}

.section02 {
	padding-top: 30px;
}

.section02 h3  {
	font-size: 4rem;
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: -20px;
	right: 0;
	left: 0;
}

.section02 h4 {
	text-align: center;
	font-size: 1.8rem;
	line-height: 32px;
	font-weight: bold;
	margin-bottom: 30px;
}

.section02 .decs {
	font-size: 1.8rem;
	line-height: 32px;
	text-align: center;
}


.section02 .btn_wrapper {
	display: flex;
	justify-content: flex-end;
}

.section02 .border {
	border-bottom: 4px solid #000D22;  
}

.section02 .btn_wrapper a {
	font-size: 1.8rem;
	line-height: 32px;
	border: 1px solid #ffffff;
	padding: 5px 9px;
	margin-top: 12px;
	margin-bottom: 22px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.section02 .btn_wrapper a::before{
	content: '';
	display: inline-block;
	background-image: url(../img/icon_arrow.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 13px;
	height: 17px;
	margin-right: 10px;
	margin-top: 4px;
}

.section02 .row {
	display: flex;
	justify-content: space-between;
	padding: 80px 60px 0 60px;
}

.section02 .row img {
	width: 400px;
	height: 163px;
	margin-top: 115px;
}

.section02 .row  h5 {
	font-size: 2.4rem;
	line-height: 42px;
	margin-bottom: 30px;
}

.section02 .row  p {
	font-size: 1.8rem;
	line-height: 36px;
}

/*section 03*/

.section03 {
	padding: 85px 0;
}

.section03 p {
	font-size: 2.4rem;
	line-height: 42px;
	margin-bottom: 45px;
	text-align: center;
	color: #ffffff;
}

/*section 04*/
.section04 {
	background-image: url(../img/bg_sec04_01.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	width: 100%;
	height: 550px;
}


/*section 05*/
.section05 {
	padding: 45px 0;
	color: #ffffff
}

.section05 h5,
.section07 h5 {
	font-size: 1.6rem;
	line-height: 26px;
}

.section05 h4,
.section07 h4 {
	font-size: 2.6rem;
	line-height: 44px;
	margin-bottom: 30px;
}

.section05 p, 
.section07 p {
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 40px;
}

.section05 .list_items {
	display: flex;
	justify-content: space-between;
}

.section05 .list_items .item {
	width: 33%;
}

.section05 .list_items .item img {
	width: 100%
}

.section05 .list_items p {
	margin: 0 auto;
	font-size: 1.6rem;
	line-height: 26pt;
	width: 220px;
}

.section05 ul {
	margin-top: 40px;
	text-align: center;
}

.section05 ul li p {
	font-size: 1.6rem;
	line-height: 26px;
}

/*section 06*/
.section06 {
	background-image: url(../img/bg_sec06_01.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	width: 100%;
	height: 550px;
}

/*section 07*/
.section07 {
	padding: 45px 0;
	color: #ffffff;
}

/*section 08*/

.section08 {
	color: #ffffff;
}

.section08 ul li {
	background-image: url(../img/bg_sec08_01.png);
	background-size: cover;
	width: 100%;
	height: 550px;
	padding: 0 60px;
}

.section08 ul li div {
	padding-left: 53%;
	padding-top: 210px;
	height: 100%;
	border-bottom: 2px solid #323232;
}

.section08 ul .item02 {
	background-image: url(../img/bg_sec08_02.png);
}

.section08 ul .item03 {
	background-image: url(../img/bg_sec08_03.png);
}

.section08 ul .item04 {
	background-image: url(../img/bg_sec08_04.png);
}

.section08 ul .item02 div,
.section08 ul .item04 div {
	padding-left: 93px;
	padding-top: 210px;
}

.section08 ul li img {
	margin-bottom: 18px;
}

.section08 ul li p {
	font-size: 18px;
	line-height: 36px;
}

/*section 09*/
.section09 {
	background-color: #323232;
	color: #ffffff;
}

.section09 ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 65px 0 100px;
}

.section09 ul li {
	max-width: 200px;
	width: 200px;
}

.section09 ul li p {
	font-size: 1.6rem;
	line-height: 26px;
}
